MONGO=mongodb+srv://username:password@cluster.mongodb.net/provvisorio
JWT_SECRET=your_jwt_secret_key_here
PORT=4444
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret